/*
html {
	height: 100vh;	
	width: 100vw;	
}
*/
/*
body {
	font-family: A-OTF UD Shin Go Pro;
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	margin: 0 auto;
	position:relative;
}
*/
/*body{
	overflow-y: scroll;
}*/
.viewArea {
/*	max-width: 1920px;
	max-height: 1080px;
	width: 100%;*/
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.container{
	max-width: 1600px;
}
/*ヘッダ領域（いずれcommon化）*/

header{
	width: 100%;
}
header .navbar.navbar-dark{
	display: flex;
	flex-direction: row;
	background-color: rgba(38,41,52,1);
	color: rgba(255,255,255,1);
	justify-content: space-between;
	text-decoration: none;
	padding: 3px 0.5em;
	height: 46px;
	box-sizing: border-box;
}
header .navbar-dark .navbar-brand{
	font-size: 1.34em;
}
header .navbar-dark .navbar-brand a{
	color: #FFFFFF;
	text-decoration: none;
	font-weight: 700;
}
header .navbar-dark .navbar-brand a img{
	width: 28px;
	height: 28px;
	display: inline-block;
	padding: 4px;
	margin: -2px 6px 0 6px;
	border-radius: 100%;
	background: #ffffff;
	color: #343a40;
	border: none;
}
header .navbar-dark .navbar-brand a:hover{
	color: #FFFFFF;
}
header .navbar-dark .navbar-brand a:hover img{
	background: #848485;
	color: #FFFFFF;
}
header .navbar-dark .return_top .btn{
	flex-grow: 1;
}
header .navbar-dark .return_top .btn{
	position: static;
	left: 0;
	margin: 5px;
	padding: 2px 1em;
	text-decoration: none;
}
header .navbar.navbar-light{
	background: #e5eafc;
	font-size: 1.25em;
	padding-bottom: .25em;
}
header .navbar.navbar-light .container{
	justify-content:left;
}
header .navbar.navbar-light h2{
	font-size: 1.2em;
	display: inline-block;
	margin: 0 0 .1em;
}
header .navbar.navbar-light input[type="image"]{
	width: 1.2rem;
	margin-left: 0.5em;
	margin-top: -.1em;
}

.contents {
	width: 100vw;
	height: 100vw;
	margin: 0 auto;
	position:relative;
	top: 10px;
	left: 100%;
	background: #F5F5F5; 
}

.contents_pls {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 1;
/*	position:relative;
	left: 0px;
	top: 80px;
	margin-top: 120px;*/
}
.contents_pls .container{
	max-width: 1600px;
	flex-shrink: 1;
	flex-grow: 1;
}
.contents_pls .container table.data_list{
	overflow-y: scroll;
	overflow-x: scroll;

	flex-shrink: 1;
	flex-grow: 1;
}

.contents_pls .container.tantoushalist{
	height: 200px;
}

.panel_content .container{
	width: 1200px;
}
.search_form_row{
	margin: 1rem 0;
}

/*セクション（行程一覧専用）*/
.section_title{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 2rem;
}
.section_title h3{
	font-size: 1.4rem;
/*	font-weight: normal;*/
	flex-grow: 1;
	font-weight: 700;
}
.section_title div{
	align-items: top;
	margin-left: .5rem;
}
/*
.section_title > div:last-child{
	flex-grow: 1;
}
*/
.section_title > div.delete{
	text-align: right;
}
.section_title .btn{
	font-size: 1.05rem;
	padding: 0.05rem 1.0rem 0.15rem;
	min-width: 96px;
	margin-bottom: 0.5rem;
	white-space: nowrap;
}
.section_title .btn img{
	margin-top: -3px;
	height: 0.8rem;
	width: auto;
}
/*
.section_title .btn.btn-sm{
	font-size: 0.8rem;
	padding: 0.1rem 1.0rem 0.1rem;
	margin-left: .5em;
	margin-bottom: 0.3rem;
}
.section_title .btn.btn-sm img{
	margin-top: -3px;
	height: 0.8rem;
	width: auto;
}
*/
.section_title .btn.btn-light{
	border-color: #262834;
}

.section_title .btn + .btn{
	margin-left: .2rem;
}

.search_title{
	margin: 8px 1em;
}
.search_title img.search{
	width :18px;
	margin-right: 4px;
	margin-bottom: 2px;
}
.search_title a{
  cursor: pointer;
}
.search_title a span{
  margin-left: 0.5em;
  display:inline-block;
}
.search_title a[aria-expanded="false"] span.arrow{ transform:rotate(-90deg); transition: .5s ease-in-out;}
.search_title a[aria-expanded="true"] span.arrow{ transform:rotate(0deg); transition: .5s ease-in-out;}

.search_container{
	background: #fff;
	border: 2px solid #e5eafc;
	border-radius: 12px;
}
.search_container .search_form_row{
	margin-top: 0;
	margin-bottom: 0;
}
.search_container .search_form_row > div{
	margin-top: 8px;
}
.search_form_row input.search_form_item_area + label{
	margin-left: 2em;
	margin-right: 2em;
}
.search_form_row label,
.search_form_row label input{
		cursor: pointer;
}
.search_form_row label input[type="checkbox"]{
	margin-right: 4px;
	height:1.3em;
	vertical-align:sub;
}
.search_form_row label + label{
	margin-left: 1em;
}

/* テーブル */
table.data_list {
	width: 100%;
}
table.data_list th {
	font-weight: inherit;
	border: 1.5px solid #343a40;
	background-color: #e5eafc;
	width: auto;
	padding: 0.2rem;
}
table.data_list td{
	border: 1.5px solid #343a40;
	width: auto;
	padding: 0.2rem;
}
table.data_list label{
	margin-bottom: 0;
}
table.data_list input[type="checkbox"]{
	display: inline-block;
	vertical-align: middle;
	margin-right: 4px;
}
table.data_list input[type="text"],
table.data_list input[type="date"]{
	height: 20px;
	padding: 2px;
	width: calc( 100% - 10px);
}
table.data_list input[type="date"]{
	width: 10em;
}
table.data_list select{
	height: 22px;
	padding: 0px 2px 1px;
	width: calc( 100% - 10px);
	margin-bottom: 0;
}

/* 担当者一覧テーブル */
/*
#tantoushalist1 .tantousya{
	max-width: 16.4rem;
	min-width: 10.4rem;
	width: 16.4rem;
}
*/
#tantoushalist1 th,
#tantoushalist1 td{
	width: 50%;
}

/*テーブルのデザイン*/
.result_area {
	width: calc(100% - 128px);
	min-width: 1280px;
	height: 100%;
	margin: 0 auto;
}

/*現地確認行程レイヤー情報*/
/*現地確認行程行程情報*/
#genchi{
	table-layout: fixed;
	display: table;
}
#layerInfo colgroup col:nth-child(3),
#genchi colgroup col:nth-child(3){
	width: 18.4em;
}
#layerInfo th,
#genchi th{
	width: 18.4em;
	border-left: none;
	border-right: none;
}
#layerInfo td,
#genchi td{
	width: calc(50% - 18.4em);
	border-left: none;
	border-right: none;
}
#layerInfo td[colspan="3"],
#genchi td[colspan="3"]{
	width: calc(100% - 18.4em);
}


/*担当者リスト*/
#tantoushalist1{
	overflow-y: auto;
}
#tantoushalist1 th{
	border-color: #ffffff #ffffff #343a40;
	position: sticky;
}

#tantoushalist1 th:first-child,
#tantoushalist1 td:first-child {
	border-left: 0;
}
#tantoushalist1 th:last-child,
#tantoushalist1 td:last-child {
	border-right: 0;
}

/*対象農地一覧*/
.lab_table2_taisyo_nouchi {
	overflow-x: auto;
/*	overflow-x: scroll;
	overflow-y: scroll;*/
/*	height: 400px;*/
/*	position: relative;*/
}
#taisyo_nouchi {
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
	border-collapse: separate;
	border-spacing :0;
	border: 0px none;
	padding: 0;
}
#taisyo_nouchi th{
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 5;
	width: auto;
	font-weight: inherit;
	border-color: #ffffff #ffffff #343a40;
	background-color: #e5eafc;
	margin: 0;
	padding: 3px;
	height: 30px;
	white-space: nowrap;
}
#taisyo_nouchi td{
	width: auto;
	z-index: 1;
	border-right: 1.5px solid rgba(38,41,52,1);
	border-top: 1.5px solid rgba(38,41,52,1);
	border-bottom: 0;
	border-left: 0;
	background-color: #FFFFFF;
	padding: 3px;
	white-space: nowrap;
}
#taisyo_nouchi tbody tr:first-child td{
	border-top: 0;
}
#taisyo_nouchi th:first-child,
#taisyo_nouchi td:first-child {
	position: -webkit-sticky;
	position: sticky;
	left: 0;
	width: 160px !important;
	box-sizing: border-box;
	display: table-cell;
}
#taisyo_nouchi th:first-child{
	z-index: 10;
}
#taisyo_nouchi th:first-child div{
	width: 143px;
}
#taisyo_nouchi td:first-child{
	z-index: 4;
}
#taisyo_nouchi th:nth-child(2),
#taisyo_nouchi td:nth-child(2) {
	position: -webkit-sticky;
	position: sticky;
	left: 152px;
}
#taisyo_nouchi th:nth-child(2) {
	z-index: 11;
}
#taisyo_nouchi th:nth-child(2) label{
	width: 143px;
}
#taisyo_nouchi td:nth-child(2) {
	z-index: 8;
}
#taisyo_nouchi th:last-child,
#taisyo_nouchi td:last-child{
	border-right: 0;
}
#taisyo_nouchi .operation input{
	margin-right: 0.5em;
}
#taisyo_nouchi .chiban {
/*	margin-left: 3px;
	margin-bottom: -4px;*/
	height: 20px;
	vertical-align: middle;
	margin-bottom: 6px;
	margin-left: 3px;
}
#taisyo_nouchi img.upload_img {
	border: 1px solid;
	width: 80px;
	height: 80px;
}


/*モーダル*/
@media (min-width: 1280px){
	.modal-dialog {
		max-width: 1200px;
	}
}
@media (min-width: 1920px){
	.modal-dialog {
		max-width: 1600px;
	}
}
.modal-header .close {
	padding: 1rem 1rem;
	margin: 0rem 1rem -1rem auto;
}
.modal-body,
.Modal_search_container{
	background-color: #E5EAFC;
}
.Modal_search_container img{
	width: 1.25rem;
	vertical-align: middle;
	margin-right: 0.25rem;
}
.Modal_search_container .search_form_row{
	margin-top: .75em;
}

/* ボタン */
.btn{
	outline: none;
	box-sizing: border-box;
}
.btn img{
	border: none;
	margin-right: 0.4em;
}
.btn img.delete{
	margin-top: -3px;
}

.btn_delete {
/*	border : 2px solid #F23B3B;
	color: #F23B3B;*/
	border : 2px solid #828cb2;
/*	font-size: 15px;*/
	width: 90px;
/*	height: 30px;*/
	background-color: rgb(239, 239, 239);
}

/*.btn_delete:hover {
	border : 2px solid #828cb2;
	background-color: #F23B3B;
	color: #FFFFFF;
}*/



.tab_contents {
	background-color: #ffffff;
	width: 100%;
	/*height: 99vh;*/
	height: 100%;
	background-color: white;
	
    display: flex;
    flex-direction: column;

}

/*タブボタンデザイン*/
.tab_lab1, .tab_lab2, .tab_lab3 {
	background: #d3d3d3;
	color: #000000;
	width: 30%;
	border: 1px solid;
    margin-left: -6px;
    padding-top: 10px;
    text-align: center;
}

/*テーブルの操作列*/
.operation {
	position: sticky;
	left: 0;
}


/*タブにチェック入ったとき*/
#tab1:checked~.tab_lab1 {
	background: #f5f5f5;
	color: #000000;
}
#tab2:checked~.tab_lab2 {
	background: #f5f5f5;
	color: #000000;
}
#tab3:checked~.tab_lab3 {
	background: #f5f5f5;
	color: #000000;
}

/*タブボタンとボックス連動*/
.panels {
	flex-grow: 1;
}
#tab1:checked~.panels #area1 {
	display: block;
	width: 100%;
	height: 100%;
}
#tab2:checked~.panels #area2 {
	display: block;
	width: 100%;
	height: 100%;
}
#tab3:checked~.panels #area3 {
	display: block;
	width: 100%;
	height: 100%;
}

/*チェックボックスとボックス非表示*/
input[name="check"] {
	display: none;
}

.panel {
	padding: 0px;
	display: none;
}

.panel_table1 {
	margin-left: -20px;
	width: 100%;
	overflow-y: scroll;
	overflow-x: scroll;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
	height:79vh;
}

.panel_table2 {
	display: flex;
	/*margin-left: -20px;*/
	font-size: 12px;
	background: #ffffff;
	width: 100%;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
	
	/* 縦方向に伸ばす */
	flex-direction: column;
	flex-basis: 0;
	justify-content: flex-start;
	flex-grow: 1;
}

/* テーブル */
/*
select {
	width: 200px;
	height: 30px;
	position:relative;
}
*/
.addbutton {
	width: 200px;
	height: 50px;
	position:relative;
}

a {
	text-decoration: underline;
	color:#4169e1;
}

.accordion{
  width:100%;
  padding:0;
  color:#fff;
  background-color:rgba(60,104,105,1);
  margin-left: -10px;
}
.accordion,.menu{
  list-style: none;
}

.menu{
  line-height: 40px;
  font-size:1.1em;
  text-shadow: 2px 4px 3px rgba(0,0,0,.1);
  border-bottom:7px solid #fafafa;
}

.menu:before{
  font-family: "Font Awesome 5 Free";
  color: #fff;
  font-weight: 900;
  padding-right:7px;
  padding-left:10px;
  text-shadow: initial;
}

/*　ハンバーガーボタン　*/
.hamburger {
  display : block;
  position: fixed;
  z-index : 3;
  top   : 0px;
  width : 20px;
  height: 50px;
  cursor: pointer;
  text-align: center;
}
.hamburger span {
  display : block;
  position: absolute;
  width   : 30px;
  height  : 2px ;
  left    : 6px;
  background : #fff;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition   : 0.3s ease-in-out;
  transition        : 0.3s ease-in-out;
}
.hamburger span:nth-child(1) {
  top: 10px;
}
.hamburger span:nth-child(2) {
  top: 20px;
}
.hamburger span:nth-child(3) {
  top: 30px;
}


.list{
  padding-top:5px;
  background-color:#fbfbfb;
}

.list a{
  display:block;
  text-decoration: none;
  line-height: 40px;
  color:#888;
}
.hover{
  background-color:#fcd69e;
}

.foldingLayer {
  position:absolute;
  left: 69%;
  top: 45%;
}

.foldingButton {
  text-align: center;
  background-color: silver;
  display: block;
  padding-right:5px;
  padding-left:5px;
  height: 50px;
  font-size: 10px
}

.addListButton {
	width: 30%;
	height: 50px;
	margin-left : -20px;
	position:relative;
}

.backColor {
	background-color:rgba(60,104,105,1);
}

.scroll {
	overflow-y: scroll;
	overflow-X: none;
}





#map { position: absolute; top: 0; bottom: 0; width: 70%; }

/* キリの良い数字に直しただけ */
.class1 {
  width: 70%;
}
.class2 {
  width: 30%;
  /* 右ペイン全体の色指定 */
  background-color: #f8f9fa;
  /* 検索結果エリアを下まで埋められるようdisplay:flex指定 */
  display: flex;
}


/* ハンバーガーメニューの戻るボタン */
.ham_layer {
    position:absolute;
    right: 30%;
    top: .5em;
}
.hamburger_back {
	border-top-left-radius: 0.5rem !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0.5rem !important;
}

/*
 * Hide high-res map rendering
 */
.hidden-map {
    overflow: hidden;
    height: 0;
    width: 0;
    position: fixed;
}

/* キリの良い数字に直しただけ */
.layer1 {
  position:absolute;
  /*left: 57%;*/
  right: 35%;
  top: 20px;
  width: 300px;
}

/* 航空写真/地形図 */
.map_menu {
  width: 100%;
  padding: .1em;
}

/* 台帳タブ */
.ledger_tab {
	border : 2px solid #000000;
	padding: .1em 1.25em;
	min-width: 10em;
}
.ledger_tab:hover {
	border : 2px solid #000000;
}

/* 台帳タブのエリア */
.panel_tabkey_area {
	margin: .5em 1.5em;
}

/*検索メニューヘッダ*/
.header_search {
	margin: .1em;
	padding-bottom: 20px;
	border-bottom: 2px solid #f8f9fa
}
/*検索メニューの下のボーダー*/
.border_search {
	border-top: 2px solid #f8f9fa
}

/* 検索ボタン */
.search_button {
	width: 8em;
	margin-bottom: 2%;
}
/* 検索結果行列 */
.search_detail_col {
    padding: 0;
}

/* 削除ボタン */
.delete_button {
	float: right;
	border : 2px solid #828cb2;
    font-size: 15px;
	width: 90px;
	height: 30px;
}

.delete_button:hover {
    border : 2px solid #828cb2;
}

/*memo:現地確認地図機能では未使用にしたけど
  他のhtmlが壊れないように残しておきます*/
.submenu {
  background-color:white;
  margin-top: -8px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  width: 98%;
}
/*memo:現地確認地図機能では未使用にしたけど
  他のhtmlが壊れないように残しておきます*/
.submenu_th {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 1px solid;
}

/*レイヤー選択の高さを狭くする*/
.list-group .list-group-sm{
  padding: .1rem 1.25rem;
}

.button_th {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: silver;
  display: block;
  padding-right:20px;
  padding-left:20px;
  height: 25px;
  font-size: 8px
}

/*memo:現地確認地図機能では未使用にしたけど
  他のhtmlが壊れないように残しておきます*/
/*タブボタンデザイン*/
.tab_gsi1 {
	background: #d3d3d3;
	color: #000000;
	width: 49%;
	border: 1px solid;
    margin-left: 1px;
}
.tab_gsi2 {
	background: #d3d3d3;
	color: #000000;
	width: 49%;
	border: 1px solid;
    margin-left: -6px;
}

/*チェックボックスとボックス非表示*/
input[name="check2"] {
	display: none;
}

/*タブボタンとボックス連動*/
#gsi-picture:checked~.tab_gsi1 {
	background: #f5f5f5;
	color: #000000;
}
#gsi-vector:checked~.tab_gsi2 {
	background: #f5f5f5;
	color: #000000;
}



.subtitle {
	top: 3px;
	width: 100%;
	padding: 3px;
	background-color: #343a40;
	color: #FFFF;
	font-weight: bolder;
	font-size: 20px;
	left: 10px;
}

.lab_chiban, .lab_area, .lab_chimoku, .lab_status, .lab_plan {
	border: 1px solid;
	padding: 3px;
	background-color: #DCDCDC;
	text-align:center;
	margin: 30px;
}

#lab {
	border: 1px solid;
	padding: 3px;
	background-color: #DCDCDC;
	text-align:center;
	margin: 30px;
}

#lab_chiban, #lab_area, #lab_id, #lab_name, #lab_privilege{
	width: 180px;
	height: 30px;
}

.lab_select {
	position:relative;
	left: 1px;
	width: 180px;
	height: 30px;
}

.lab_check1, lab_check2, lab_check3 {
	position:relative;
	left: 0px;
}

.lab_btn {
	background-color: white;
	display: block;
	position:relative;
	text-align: center;
	width: 80px;
	height: 30px;
	margin: auto;
}

.page_btn1 {
	position: fixed;
	bottom: 10px;
	margin-left: 41.5%;
	z-index: 500;
}
.page_btn_area {
	position:fixed;
	bottom:0;
	width: 100%;
	box-sizing: border-box;
	height:110px;;
	background: #ffffff;
	z-index:500;
}

/*テーブルのデザイン*/

.lab_table {
	position:relative;
	top: 40px;
	table-layout: auto;
	max-width: 1500px;
	overflow: auto;
	overflow-y: hidden;
	
}

.nouchi_update {
	position: relative;
	top: 30px;
}

/* テーブル */
.fixed {
	position: sticky;
}


.noneborder {
	width: 100px;
	border: 0px;
}

#noneborder {
	border: 0px;
}

.address {
	width: 100px;
}

.update_date {
	width: 120px;
	position: sticky;
	position: -webkit-sticky;
	left: 0px;
	z-index: 1;
	background: #F5F5F5;
}

.update_name {
	width: 100px;
	position: sticky;
	position: -webkit-sticky;
	left: 120px;
	z-index: 1;
	background: #F5F5F5;
}

.cntrl {
	width: 100px;
	position: sticky;
	position: -webkit-sticky;
	right: 0;
	z-index: 1;
	background: #FFFFFF;
}

/*


select {
	width: 300px;
	height: 50px;
	position:relative;
	left: 30px;
}
*/

a {
	text-decoration: underline;
	color:#4169e1;
}


.base {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  /*width: 98vw;*/
  /*height: 98vh;*/
  width: 100%;
  height: 100%;
}

button.link-style-btn{
  cursor: pointer;
  border: none;
  background: none;
  color: #0033cc;
}
button.link-style-btn:hover{
  text-decoration: underline;
  color: #002080;
}

.search_form_row:first {
	padding-top: 0px;
}
/*
.search_form_row {
	margin: 1em 10em;
	padding-top: 2px;
	padding-bottom: 2px;
	width: 100%;
}
*/
.search_form_row:last {
	padding-bottom: 0px;
}

.search_form_item {
	display: block;
	width: 100%;
	padding: 0em .1em;
	border: 2px solid #828cb2;
	height: 1.75em;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border-radius: .25rem;
}

.panel_content {
	margin: 0em;
	background: #e5eafc;
	height: 100%;
	display: flex;
	flex-basis: 0;
	flex-direction: column;
}

.search_detail_area {
	display: block;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
	width: 60%;
	margin: 0 auto;
}	

.user_area {
	padding-top: 1%;
	padding-bottom: 10px;
	width: 90%;
	height: 100px;
	margin: 0 auto;
}

/*
.search_area {
	padding-right: 30%;
}
*/


.open {
	cursor:pointer; /* マウスオーバーでカーソルの形状を変えることで、クリックできる要素だとわかりやすいように */
	text-decoration: underline;
	color:#4169e1;
}
#pop-up {
	display: none; /* label でコントロールするので input は非表示に */
}
.overlay {
	display: none; /* input にチェックが入るまでは非表示に */
}
#pop-up:checked + .overlay {
	display: block;
	z-index: 9999;
	background-color: #00000070;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
}
.window {
	width: 90vw;
	max-width: 380px;
	height: 240px;
	background-color: #ffffff;
	border-radius: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.text {
	font-size: 18px;
	margin: 0;
}
.close {
	cursor:pointer;
	position: absolute;
	top: 4px;
	right: 4px;
	font-size: 20px;
}
