
.contents {
	width: 100vw;
	height: 100vw;
	margin: 0 auto;
	position:relative;
	top: 10px;
	left: 100%;
	background: #F5F5F5; 
}
.contents_pls {
	position:relative;
	left: 0px;
}

.subtitle {
	top: 3px;
	width: 100%;
	padding: 3px;
	background-color: #343a40;
	color: #FFFF;
	font-weight: bolder;
	font-size: 15px;
	left: 10px;
}

.lab_chiban, .lab_area, .lab_chimoku, .lab_status, .lab_plan {
	border: 1px solid;
	padding: 3px;
	background-color: #DCDCDC;
	text-align:center;
	margin: 30px;
}

#lab {
	border: 1px solid;
	padding: 3px;
	background-color: #DCDCDC;
	text-align:center;
	margin: 30px;
}

#lab_chiban, #lab_area, #lab_id, #lab_name, #lab_privilege{
	width: 180px;
	height: 30px;
}

.lab_select {
	position:relative;
	left: 1px;
	width: 180px;
	height: 30px;
}

.lab_check1, lab_check2, lab_check3 {
	position:relative;
	left: 0px;
}

.lab_btn {
	background-color: white;
	display: block;
	position:relative;
	left: 700px;
	width: 80px;
	height: 30px;
}

.page_btn1 {
	margin-left: auto;
	margin-right: auto;
	bottom: 10%;
	margin-left: 42%;
	z-index: 500;
}
.page_btn_area {
	bottom:0;
	width: 100%;
	box-sizing: border-box;
	height:110px;;
	background: #ffffff;
	z-index:500;
}

/*テーブルのデザイン*/

.lab_table {
	position:relative;
	top: 40px;
	table-layout: auto;
	max-width: 1500px;
	overflow: auto;
	overflow-y: hidden;
	
}

.nouchi_update {
	position: relative;
	top: 30px;
}

/* テーブル */

.fixed {
	position: sticky;
}

/* 罫線 */
th {
	padding: 3px;
	width: 250px;
	height: 30px;
}
td {
	border: 1px solid;
	padding: 3px;
	width: 250px; 
}

.noneborder {
	width: 100px;
	border: 0px;
}

#noneborder {
	border: 0px;
}

.address {
	width: 100px;
}

.update_date {
	width: 120px;
	position: sticky;
	position: -webkit-sticky;
	left: 0px;
	z-index: 1;
	background: #F5F5F5;
}

.update_name {
	width: 100px;
	position: sticky;
	position: -webkit-sticky;
	left: 120px;
	z-index: 1;
	background: #F5F5F5;
}

.cntrl {
	width: 100px;
	position: sticky;
	position: -webkit-sticky;
	right: 0;
	z-index: 1;
	background: #FFFFFF;
}


img {
	border: 1px solid;
	width: 80px;
	height: 80px;
}


a {
	text-decoration: underline;
	color:#4169e1;
}

.open {
	cursor:pointer; /* マウスオーバーでカーソルの形状を変えることで、クリックできる要素だとわかりやすいように */
	text-decoration: underline;
	color:#4169e1;
}
#pop-up {
	display: none; /* label でコントロールするので input は非表示に */
}
.overlay {
	display: none; /* input にチェックが入るまでは非表示に */
}
#pop-up:checked + .overlay {
	display: block;
	z-index: 9999;
	background-color: #00000070;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
}
.window {
	width: 90vw;
	max-width: 380px;
	height: 240px;
	background-color: #ffffff;
	border-radius: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.text {
	font-size: 15px;
	margin: 0;
}
.close {
	cursor:pointer;
	position: absolute;
	top: 4px;
	right: 4px;
	font-size: 15px;
}

.contents {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position:relative;
/* サンプルが余白なしのため削除 */
/*	top: 10px;*/
/*	left: 10%;*/
}

.contents_pls {
	position:relative;
/* サンプルが余白なしのため削除 */
/*	top: 10px;*/
/*	left: 20px;*/
}

.lab_plan, .lab_define {
	border: 1px solid;
	padding: 3px;
	width: 150px;

}

.lab_memo {
	border-top: 1px solid;
	border-bottom: 1px solid;
/*	border: 1px solid; */
	padding: 3px;
	width: 150px;
	height: 80px;
}

.lab_rst1, .lab_rst2, .lab_rst3, .lab_rst4, .lab_rst5,
.lab_rst6, .lab_rst7, .lab_rst8, .lab_rst9, .lab_rst10,
.lab_rst11, .lab_rst12 {
	width: 300px;

}

.lab_select {
	width: 300px;
	height: 30px;
}

.lab_rst13 {
	border: 1px solid;
	padding: 3px;
	width: 770px;
}

.left_table th {
/*	border: 1px solid; */
	padding: 3px;
	/* thの背景色を塗る、幅固定*/
	background-color: rgba(229,234,252,1);
	width: 250px;
	border-top: 1px solid;
	border-bottom: 1px solid;
}

.left_table td {
/*	border: 1px solid; */
	padding: 3px;
	width: 250px;
	border-top: 1px solid;
	border-bottom: 1px solid;
}

.memo_ipt {
	height: 30px;
}

#memo {
	width: 100%;
	height: 100%;
	width: 450px;
	height: 35px;
}

#date {
	width: 200px;
	height: 35px;
}

#hozonsha {
	width: 150px;
	height: 35px;
}

#sousa {
	width: 50px;
	height: 35px;
}

#memo1 {
	width: 450px;
	height: 35px;
}

#date1 {
	width: 100px;
	height: 35px;
}

#hozonsha1 {
	width: 100px;
	height: 35px;
}
#coladd {
	position:relative;
	left: 50px;
}


.lab_foto {
/*	border: 1px solid; */
	padding: 3px;
	width: 150px;
	height: 150px;
	border-top: 1px solid;
	border-bottom: 1px solid;
}

.lab_rst14 {
	border: 1px solid;
	padding: 3px;
	width: 770px;
}

#pctadd {
	position:relative;
	left: 50px;
}

img {
	width: 100px;
	height: 100px;
}

.filelabel{
  border: 1px solid;
  text-align: center;
  display: block;
  width: 30px;
  position:relative;
  left: 100px;
}

.fileinput{
  display: none;
}

.btn {
	position:relative;
	left: 450px;
}

.btn2 {
	position:relative;
	left: 150px;
}

.lab_rst15 {
	border: 1px solid;
	padding: 3px;
	width: 80px;
}

.lab_rst16 {
	border: 1px solid;
	padding: 3px;
	width: 180px;
}

/*ページトップ部分、戻るボタンと文字列を横並びにしたいのでflex row */
.page_title {
	display: flex;
	flex-direction: row;
	background-color: rgba(38,41,52,1);
	color: rgba(255,255,255,1);
}

/*20210602 福嶋追加 */
/*「トップページに戻る」の右寄せのため、子要素を左右配置設定*/
.page_title{
	justify-content: space-between;
}
/*タイトル部分をflex-growで広げるように設定（タイトル部分のクラスがなかったため input直後のdivに設定）*/
.page_title input + div{
	flex-grow: 1;
}
/*「トップページに戻る」部分のボタン設定*/
.page_title .return_top .btn{
	position: static;
	left: 0;
	margin: 5px;
	padding: 2px 1em;
	text-decoration: none;
}

/*コンテンツ部分、左右にパネル2枚欲しいのでflex row 微妙かもしれない*/
.base {
  display: flex;
 flex-direction: row;
  align-items: stretch;
  /*width: 98vw;*/
  /*height: 98vh;*/
  width: 100%;
  height: 100%;
}

/*左パネル*/
.class1 {
  width: 70%;

}
/*左右の取り方は要調整*/
.class1_contents {
	margin-left:50px;
	margin-right:50px;
}

/*更新日時部分、文字列と履歴ボタンを横並びにしたい*/
.time {
	display: flex;
	flex-direction: row;
	margin-top: 10px;
	margin-bottom: 10px;
}

/*右パネル*/
.class2 {
	width: 30%;
	/* 右パネル全体の色指定 */
	background-color: rgba(229,234,252,1);
	height: 1000px;

}

/* 右側タイトル 要調整*/
#r1 {
	font-size: 15px;
	margin-left:30px;
	margin-top:10px;
	margin-bottom:10px;
}
/* 右側 履歴テーブル一覧部分 スクロールがうまくいっていない*/
#r2 {
	overflow-y: scroll;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}

/* 削除ボタン */
.delete {
	width: 25px;
	height: 25px;
	padding-bottom: 3px;
	border: none;
}

.add {
	width: 25px;
	height: 25px;
	padding-bottom: 1px;
}

/* 地番ボタン */
.chiban {
	width: 20px;
	height: 20px;
	vertical-align: middle;
	margin-bottom: 5px;
}



/* 履歴テーブル全体*/
.rireki {
	width: 70%;
	margin-right: auto;
	margin-left: auto;
	/* 枠線削除
	border: 1px solid #000;
	border-spacing: 0px;
	border-collapse: collapse;
	*/
	border:none;
	
}

/* 履歴テーブルタイトル部分*/
.rireki th {
	background-color: rgba(38,41,52,1);
	color: rgba(255,255,255,1);
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
}

/* 履歴テーブル 共通設定*/
.rireki td{
	background-color: rgba(255,255,255,1);
}

/* 履歴テーブルの見出し列(1列目)*/
.rireki tr td:nth-of-type(1){
	width: 200px
}

.tbl_memo {
	margin-left: auto;
	margin-right: auto;
}


.button_save {
	color: white;
	background-color: black;
	display: block;
	padding:1px;
	width: 150px;
	padding-right:20px;
	padding-left:20px;
	border-radius: 50px;
	font-size: 15px;
}

.button_cancel {
	color: white;
	background-color:#B0C4DE;
	display: block;
	padding:1px;
	width: 150px;
	padding-right:20px;
	padding-left:20px;
	border-radius: 50px;
}

.button_memo {
	display: flex;
	position:relative;
	margin-top: 10px;
	margin-bottom: 10px;
}

.button_memo_add {
	color: white;
	background-color:#B0C4DE;
	display: block;
	padding:1px;
	width: 200px;
	padding-right:20px;
	padding-left:20px;
	border-radius: 50px;
}

.button_memo_delete {
	position:absolute;
	right: 0px;
	top: 0px;
	color: black;
	background-color:white;
	display: block;
	padding:1px;
	width: 150px;
	padding-right:20px;
	padding-left:20px;
	border-radius: 50px;
}

.button_rireki {
	color: black;
	background-color:white;
	display: block;
	padding:1px;
	width: 150px;
	padding-right:20px;
	padding-left:20px;
	border-radius: 50px;
	margin-left: 30px;
}

.button_rireki_img {
	width: 25px;
	height: 25px;
	padding-bottom: 5px;
}


.tab_contents {
	background-color: #ffffff;
	width: 100%;
	/*height: 99vh;*/
	height: 100%;
	background-color: white;
	
    display: flex;
    flex-direction: column;

}

/*タブボタンデザイン*/
.tab_lab1, .tab_lab2, .tab_lab3 {
	background: #d3d3d3;
	color: #000000;
	width: 30%;
	border: 1px solid;
    margin-left: -6px;
    padding-top: 10px;
    text-align: center;
}

/*テーブルのデザイン*/
table.data_list {
	width: 100%;
	margin: 0 auto;
}

/*テーブルの操作列*/

.operation {
	position: sticky;
	left: 0;
}

/* テーブル */
/* 罫線 */
.data_listth {
	border: 1px solid;
}

/*こっち使ってます*/
th.data_list {
	font-weight: inherit;
	border-left: 1.5px solid #ffffff;
	border-right: 1.5px solid #ffffff;
	background-color: #e5eafc;

    position: -webkit-sticky;
    position: sticky;
    top: 0;
	z-index: 1;
}

th.data_list:first-child {
	border-left: 1.5px solid #e5eafc;
	position: sticky;
	left: 0;
	z-index: 2;
	width: 35%;
}

th.data_list:nth-child(2) {
	width: 17%;
}

th.data_list:nth-child(3) {
	width: 32%;
}

th.data_list:nth-child(4) {
	width: 8%;
}

th.data_list:last-child {
	width: 8%;
	border-right: 1.5px solid #e5eafc;
}

td.data_list {
	border: 1.5px solid rgba(38,41,52,1);
}

td.data_list:first-child {
	border-left: 1.5px solid #ffffff;
	position: sticky;
	left: 0;
	z-index: 1;
	background-color: white;

}

td.data_list:last-child {
	border-right: 1.5px solid #ffffff;
}

/*タブにチェック入ったとき*/
#tab1:checked~.tab_lab1 {
	background: #f5f5f5;
	color: #000000;
}
#tab2:checked~.tab_lab2 {
	background: #f5f5f5;
	color: #000000;
}
#tab3:checked~.tab_lab3 {
	background: #f5f5f5;
	color: #000000;
}

/*タブボタンとボックス連動*/
.panels {
	flex-grow: 1;
}
#tab1:checked~.panels #area1 {
	display: block;
	width: 100%;
	height: 100%;
}
#tab2:checked~.panels #area2 {
	display: block;
	width: 100%;
	height: 100%;
}
#tab3:checked~.panels #area3 {
	display: block;
	width: 100%;
	height: 100%;
}

/*チェックボックスとボックス非表示*/
input[name="check"] {
	display: none;
}

.panel {
	padding: 0px;
	display: none;
}

.panel_table1 {
	margin-left: -20px;
	width: 100%;
	overflow-y: scroll;
	overflow-x: scroll;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
	height:79vh;
}

.panel_table2 {
	overflow: scroll;
	display: flex;
	/*margin-left: -20px;*/
	font-size: 15px;
	background: #ffffff;
	width: 100%;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
	
	/* 縦方向に伸ばす */
	flex-direction: column;
	flex-basis: 0;
	justify-content: flex-start;
	flex-grow: 1;
}

/* テーブル */
select {
	width: 200px;
	height: 30px;
	position:relative;
}

.addbutton {
	width: 200px;
	height: 50px;
	position:relative;
}

a {
	text-decoration: underline;
	color:#4169e1;
}

.accordion{
  width:100%;
  padding:0;
  color:#fff;
  background-color:rgba(60,104,105,1);
  margin-left: -10px;
}
.accordion,.menu{
  list-style: none;
}

.menu{
  line-height: 40px;
  font-size: 15px;
  text-shadow: 2px 4px 3px rgba(0,0,0,.1);
  border-bottom:7px solid #fafafa;
}

.menu:before{
  font-family: "Font Awesome 5 Free";
  color: #fff;
  font-weight: 900;
  padding-right:7px;
  padding-left:10px;
  text-shadow: initial;
}

/*　ハンバーガーボタン　*/
.hamburger {
  display : block;
  position: fixed;
  z-index : 3;
  top   : 0px;
  width : 20px;
  height: 50px;
  cursor: pointer;
  text-align: center;
}
.hamburger span {
  display : block;
  position: absolute;
  width   : 30px;
  height  : 2px ;
  left    : 6px;
  background : #fff;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition   : 0.3s ease-in-out;
  transition        : 0.3s ease-in-out;
}
.hamburger span:nth-child(1) {
  top: 10px;
}
.hamburger span:nth-child(2) {
  top: 20px;
}
.hamburger span:nth-child(3) {
  top: 30px;
}


.list{
  padding-top:5px;
  background-color:#fbfbfb;
}

.list a{
  display:block;
  text-decoration: none;
  line-height: 40px;
  color:#888;
}
.hover{
  background-color:#fcd69e;
}

.foldingLayer {
  position:absolute;
  left: 69%;
  top: 45%;
}

.foldingButton {
  text-align: center;
  background-color: silver;
  display: block;
  padding-right:5px;
  padding-left:5px;
  height: 50px;
  font-size: 15px
}

.addListButton {
	width: 30%;
	height: 50px;
	margin-left : -20px;
	position:relative;
}

.backColor {
	background-color:rgba(60,104,105,1);
}

.scroll {
	overflow-y: scroll;
	padding-bottom: 200px;
}

/*ページトップ部分、戻るボタンと文字列を横並びにしたいのでflex row */
.page_title {
	display: flex;
	flex-direction: row;
	background-color: rgba(38,41,52,1);
	color: rgba(255,255,255,1);
}

#map { position: absolute; top: 0; bottom: 0; width: 70%; }


/* btn-select-black : btnの選択時background-color指定を黒くする */
.btn-select-black:not(:disabled):not(.disabled):active, .btn-select-black:not(:disabled):not(.disabled).active, .show > .btn-select-black.dropdown-toggle {
  background-color: #343a40!important;
  border-color: #343a40!important;
  color: #f8f9fa!important;
}

/* キリの良い数字に直しただけ */
.class1 {
  width: 70%;
}
.class2 {
  width: 30%;
  /* 右ペイン全体の色指定 */
  background-color: #f8f9fa;
  /* 検索結果エリアを下まで埋められるようdisplay:flex指定 */
  display: flex;
}


/* ハンバーガーメニューの戻るボタン */
.ham_layer {
    position:absolute;
    right: 30%;
    top: .5em;
}
.hamburger_back {
	border-top-left-radius: 0.5rem !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0.5rem !important;
}

/*
 * Hide high-res map rendering
 */
.hidden-map {
    overflow: hidden;
    height: 0;
    width: 0;
    position: fixed;
}

/* キリの良い数字に直しただけ */
.layer1 {
  position:absolute;
  /*left: 57%;*/
  right: 35%;
  top: 20px;
  width: 300px;
}

/* 航空写真/地形図 */
.map_menu {
  width: 100%;
  padding: .1em;
}

/* 台帳タブ */
.ledger_tab {
	border : 2px solid #828cb2;
	padding: .1em 1.25em;
	min-width: 10em;
}
.ledger_tab:hover {
	border : 2px solid #828cb2;
}
/* 台帳タブのエリア */
.panel_tabkey_area {
	margin: .5em 1.5em;
}

/*検索メニューヘッダ*/
.header_search {
	margin: .1em;
	padding-bottom: 20px;
	border-bottom: 2px solid #f8f9fa
}
/*検索メニューの下のボーダー*/
.border_search {
	border-top: 2px solid #f8f9fa
}

/* 検索結果行列 */
.search_detail_col {
    padding: 0;
}
/* 削除ボタン */
.delete_button {
	border : 2px solid #828cb2;
    font-size: 15px;
	width: 90px;
	height: 32px;
}

.delete_button:hover {
    border : 2px solid #828cb2;
}

/*memo:現地確認地図機能では未使用にしたけど
  他のhtmlが壊れないように残しておきます*/
.submenu {
  background-color:white;
  margin-top: -8px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  width: 98%;
}
/*memo:現地確認地図機能では未使用にしたけど
  他のhtmlが壊れないように残しておきます*/
.submenu_th {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 1px solid;
}

/*レイヤー選択の高さを狭くする*/
.list-group .list-group-sm{
  padding: .1rem 1.25rem;
}

.button_th {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: silver;
  display: block;
  padding-right:20px;
  padding-left:20px;
  height: 25px;
  font-size: 15px
}

/*memo:現地確認地図機能では未使用にしたけど
  他のhtmlが壊れないように残しておきます*/
/*タブボタンデザイン*/
.tab_gsi1 {
	background: #d3d3d3;
	color: #000000;
	width: 49%;
	border: 1px solid;
    margin-left: 1px;
}
.tab_gsi2 {
	background: #d3d3d3;
	color: #000000;
	width: 49%;
	border: 1px solid;
    margin-left: -6px;
}

/*チェックボックスとボックス非表示*/
input[name="check2"] {
	display: none;
}

/*タブボタンとボックス連動*/
#gsi-picture:checked~.tab_gsi1 {
	background: #f5f5f5;
	color: #000000;
}
#gsi-vector:checked~.tab_gsi2 {
	background: #f5f5f5;
	color: #000000;
}

html {
	height: 100vh;	
	width: 100vw;	
}

body {
	font-family: 'ヒラギノ角ゴ Pro W3','Osaka','メイリオ','Meiryo','ＭＳ Ｐゴシック',sans-serif;
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	margin: 0 auto;
	position:relative;
}

.base {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  /*width: 98vw;*/
  /*height: 98vh;*/
  width: 100%;
  height: 100%;
}

button.link-style-btn{
  cursor: pointer;
  border: none;
  background: none;
  color: #0033cc;
}
button.link-style-btn:hover{
  text-decoration: underline;
  color: #002080;
}

.search_form_row:first {
	padding-top: 0px;
}

.search_form_row {
	margin: 1em 10em;
	padding-top: 2px;
	padding-bottom: 2px;
	width: 100%;
}
.search_form_row:last {
	padding-bottom: 0px;
}

.search_form_item {
	display: block;
	width: 100%;
	padding: 0em .1em;
	border: 2px solid #828cb2;
	height: 1.75em;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border-radius: .25rem;
}

.panel_content {
	/*top:  -7px;*/
	margin: 0em;
	background: #e5eafc/*#f5f5f5*/;
	/*margin-left: -100%;*/
	/*height:90vh;*/
	height: 100%;
	display: flex;
	flex-basis: 0;
	flex-direction: column;
}

.search_detail_area {
	margin-bottom: 2em;
	overflow: auto;
}

.search_area {
	padding-right: 30%;
}

.viewArea {
	max-width: 1920px;
	max-height: 1080px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

/* 検索ボタン */
.search_button {
	width: 8em;
	margin-bottom: 1%;
	margin-left: auto;
	margin-right: auto;
}

.result_area {
	width: 90%;
	height: 100%;
	margin: 0 auto;
}

/* 一覧系画面の削除ボタン領域 */
.delete_button_area {
	margin-top: 0px;
	margin-bottom: 0px;
}