body {
	font-family: 'ヒラギノ角ゴ Pro W3','Osaka','メイリオ','Meiryo','ＭＳ Ｐゴシック',sans-serif;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position:relative;
}

.base {
  display: flex;
  flex-direction: row;
  width: 98vw;
  height: 98vh;
}

button.link-style-btn{
  cursor: pointer;
  border: none;
  background: none;
  color: #0033cc;
}
button.link-style-btn:hover{
  text-decoration: underline;
  color: #002080;
}

/* btn-select-black : btnの選択時background-color指定を黒くする */
.btn-select-black:not(:disabled):not(.disabled):active, .btn-select-black:not(:disabled):not(.disabled).active, .show > .btn-select-black.dropdown-toggle {
  background-color: #343a40!important;
  border-color: #343a40!important;
  color: #f8f9fa!important;
}