body {
	font-family: 'ヒラギノ角ゴ Pro W3','Osaka','メイリオ','Meiryo','ＭＳ Ｐゴシック',sans-serif;
	background: #F5F5F5;
}

.contents {
	width: 80%;
	height: 100%;
	margin: 0 auto;
}

.contents_pls {
	position: relative;
	left: 0px;
}

.subtitle {
	top: 3px;
	width: 100%;
	padding: 3px;
	background-color: #343a40;
	color: #FFFF;
	font-weight: bolder;
	font-size: 15px;
	left: 10px;
}

.section_title {
	font-size: 20px;
	font-weight: bolder;
	margin-top: 1em;;
}
.time + .section_title {
	margin-top: .75em;;
}

#genchi_memo {
	height: 27px;
	width: 535px;	
}

.lab_plan, .lab_define {
	border: 1px solid;
	padding: 3px;
	width: 150px;

}

.lab_memo {
	/* thの背景色を塗る、幅固定*/
	background-color: rgba(229,234,252,1);
	border-top: 1px solid;
	border-bottom: 1px solid;
	width: 25%;
}

.lab_memo_td {
	border-top: 1px solid;
	border-bottom: 1px solid;
	width: 75%;
	vertical-align: top;
}

.lab_rst1, .lab_rst2, .lab_rst3, .lab_rst4, .lab_rst5,
.lab_rst6, .lab_rst7, .lab_rst8, .lab_rst9, .lab_rst10,
.lab_rst11, .lab_rst12 {
	width: 300px;

}

.lab_select {
	width: 300px;
	height: 30px;
}

.lab_rst13 {
	border: 1px solid;
	padding: 3px;
	width: 770px;
}

.left_table {
	width: 100%;	
}


.left_table th {
/*	border: 1px solid; */
	padding: 3px;
	/* thの背景色を塗る、幅固定*/
	background-color: rgba(229,234,252,1);
	width: 20%;
	border-top: 1px solid;
	border-bottom: 1px solid;
}


.left_table td {
/*	border: 1px solid; */
	padding: 3px;
	width: 25%;
	border-top: 1px solid;
	border-bottom: 1px solid;
}

.tbl_memo th {
	margin-left: 5px;
	/* thの背景色を塗る、幅固定*/
	background-color: rgba(229,234,252,1);
	border-top: 1px solid;
	border-bottom: 1px solid;
}

.tbl_memo td {
	border-left: 1px solid;
	border-top: 1px solid;
	border-bottom: 1px solid;
}

.memo_ipt {
	height: 30px;
}

#memo {
	width: 100%;
	height: 100%;
	width: 543px;
	height: 35px;
}

#date {
	width: 200px;
	height: 35px;
}

#hozonsha {
	width: 150px;
	height: 35px;
}

#sousa {
	width: 50px;
	height: 35px;
}

#memo1 {
	width: 450px;
	height: 35px;
}

#date1 {
	width: 100px;
	height: 35px;
}

#hozonsha1 {
	width: 100px;
	height: 35px;
}
#coladd {
	position:relative;
	left: 50px;
}


.lab_foto {
	padding: 3px;
	border-top: 1px solid;
	border-bottom: 1px solid;
	/* thの背景色を塗る、幅固定*/
	background-color: rgba(229,234,252,1);
	width: 307px;
	height: auto;
}

.lab_foto_td {
	border-top: 1px solid;
	border-bottom: 1px solid;
	width: 75%;
	height: auto;
	vertical-align: middle;
}

.lab_rst14 {
	border: 1px solid;
	padding: 3px;
	width: 770px;
}

#pctadd {
	position:relative;
	left: 50px;
}

img {
	width: 100px;
	height: 100px;
}

.filelabel{
  border: 1px solid;
  text-align: center;
  display: block;
  width: 30px;
  position:relative;
  left: 100px;
}

.fileinput{
  display: none;
}

.btn {
	position:relative;
	left: 450px;
}

.btn2 {
	position:relative;
	left: 150px;
}

.lab_rst15 {
	border: 1px solid;
	padding: 3px;
	width: 80px;
}

.lab_rst16 {
	border: 1px solid;
	padding: 3px;
	width: 180px;
}

/*ページトップ部分、戻るボタンと文字列を横並びにしたいのでflex row */
.page_title {
	display: flex;
	flex-direction: row;
	background-color: rgba(38,41,52,1);
	color: rgba(255,255,255,1);
}
/*20210602 福嶋追加 */
/*「トップページに戻る」の右寄せのため、子要素を左右配置設定*/
.page_title{
	justify-content: space-between;
}
/*タイトル部分をflex-growで広げるように設定（タイトル部分のクラスがなかったため input直後のdivに設定）*/
.page_title input + div{
	flex-grow: 1;
}
/*「トップページに戻る」部分のボタン設定*/
.page_title .return_top .btn{
	position: static;
	left: 0;
	margin: 5px;
	padding: 2px 1em;
	text-decoration: none;
}

/*コンテンツ部分、左右にパネル2枚欲しいのでflex row 微妙かもしれない*/
.base {
	display: flex;
	align-items: stretch;
	width: 100%;
	height: 100%;
}

/*左パネル*/
.class1 {
	margin-left: 5%;
	width: 75%;
	overflow: hidden;
}

.class1_top {
	overflow-y: scroll;
	overflow-x: hidden;
}

.class1_bottom {
	margin-left: auto;
	margin-right: auto;
	border-top: 1px solid;
	border-bottom: 1px solid;
	height: 50px;
	width: 100%;
	overflow: hidden;
	background-color:white;
	z-index: 500;
}

/*更新日時部分、文字列と履歴ボタンを横並びにしたい*/
.time {
	display: flex;
	flex-direction: row;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 15px;
}

/* 更新日時の文字列 */
#update_date {
	margin-top: 3px;
}

/*右パネル*/
.class2 {
	width: 25%;
	height: 700px;
	/* 右パネル全体の色指定 */
	background-color: rgba(229,234,252,1);
}

/* 右側タイトル 要調整*/
#r1 {
	font-size: 15px;
	margin-left:30px;
	margin-top:10px;
	margin-bottom:10px;
}
/* 右側 履歴テーブル一覧部分 スクロールがうまくいっていない*/
#r2 {
	overflow-y: scroll;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}

/* 削除ボタン */
.delete {
	width: 25px;
	height: 25px;
	padding-bottom: 3px;
}

.add {
	width: 25px;
	height: 25px;
	padding-bottom: 3px;
}

/* 地番ボタン */
.chiban {
	width: 25px;
	height: 25px;
	vertical-align: middle;
}

/* アップロードボタン */
.upload_button {
	border: 1px solid #000;
}

/* 現地確認用ボタン群 */
.genchi_operation_button {
	padding-top: 30px;
}


/* 履歴テーブル全体*/
.rireki {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	/* 枠線削除
	border: 1px solid #000;
	border-spacing: 0px;
	border-collapse: collapse;
	*/
	border:none;
	
}

/* 履歴テーブルタイトル部分*/
.rireki th {
	background-color: rgba(38,41,52,1);
	color: rgba(255,255,255,1);
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
}

/* 履歴テーブル 共通設定*/
.rireki td{
	background-color: rgba(255,255,255,1);
	border-bottom: 1px solid rgba(229,234,252,1)
}

/* 履歴テーブルの見出し列(1列目)*/
.rireki tr td:nth-of-type(1){
	width: 200px
}

.tbl_memo {
	margin-left: 20px;
	margin-top: 5px;
	border-collapse: separate;
	border-spacing: 0px 10px;
}

.upload_img {
	margin: 0.5em 0.5em;
}


.button_save {
	color: white;
	background-color: black;
	display: block;
	padding:2px;
	width: 150px;
	height: 30px;
	border-radius: 50px;
	font-size: 15px;
	margin-left: 295%;
	padding-top: 2.5%;
}

.button_cancel {
/*	color: white; */
/*	background-color:#B0C4DE; */
	display: block;
	padding:1px;
	width: 150px;
	height: 30px;
	padding-right:20px;
	padding-left:20px;
	border-radius: 50px;
}

.button_memo {
	display: flex;
	position:relative;
	margin-top: 5px;
	margin-bottom: 3px;
	margin-left: 20px;
}

.button_memo_add {
	color: white;
	background-color:#B0C4DE;
	display: block;
	padding:1px;
	width: 170px;
	height: 28px;
	border-radius: 50px;
}

.delete_button {
	float: right;
	border : 2px solid #828cb2;
    font-size: 15px;
	width: 90px;
	height: 30px;
}

.button_memo_delete {
	position:absolute;
	right: 0px;
	top: 0px;
	color: black;
	background-color:white;
	display: block;
	padding:1px;
	width: 90px;
	height:28px;
	border-radius: 50px;
}

.button_rireki {
	color: black;
    border : 2px solid #828cb2;
	background-color:white;
	display: block;
	height: 28px;
	width: 85px;
	margin-left: 30px;
    font-size: 15px;
}

.delete_button:hover {
    border : 2px solid #828cb2;
}


.button_rireki_img {
	width: 25px;
	height: 25px;
	padding-bottom: 5px;
}


.viewArea {
	max-width: 1920px;
	max-height: 1080px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.lab_table2{
	overflow: auto;
	width:92%;
	table-layout: auto;
}

.lab_table3{
	width:100%;
	table-layout: auto;
}

.lab_table4{
	width:100%;
	table-layout: auto;
}

.bottomMenu{
	height: 50px;
	margin-left: 1%;
/*	margin: 0 auto; */
}
