.base{
	display: flex;
	justify-content: space-between;
/*	width: 100%;
	height: 100%;*/
}

.main-menu{
/*	height: 100vh;*/
	margin: 0 auto;
	flex-grow: 1;
	background-color: #EEE;
}

#map {
/*	position: static;*/
	margin: 0 auto;
/*	background-color: #999;*/
/*	width: 71.4vh; /*印刷の向きが縦の時、画面の高さの71.4％となるように設定*/
/*	width: 100vh;
	height: 100vh;
	padding: 10px;*/
	box-sizing: border-box;
}
#map.mapboxgl-map {
/*	position: relative;*/
}
#map.mapboxgl-map-tate {
/*	width: 71.4vh;*/
}
#map.mapboxgl-map-tate .mapboxgl-ctrl-top-left{
/*	top: calc(-100vh + 20px);*/
}
#map.mapboxgl-map-yoko {
/*	height: 71.4vh;
	margin-top: 14.5vh;*/
}
#map.mapboxgl-map-yoko .mapboxgl-ctrl-top-left{
/*	top: calc(-71.4vh + 20px);*/
}

.mapboxgl-canvas-container{
	border: 1px solid #000;
	position: relative;
	margin: 0 auto;
/*	width: 100%;
	height: 100%;
	box-sizing: border-box;
	overflow: hidden;*/
}

.mapboxgl-control-container{
/*	position: relative;
	width: 100%;*/
/*	height: 100%;*/
/*	top: -100%;*/
}

/*
#map.mapboxgl-map-tate .mapboxgl-ctrl-top-left {
    top: calc(-100vh + 20px);
    left: 0;
}
*/

/*印刷設定画面*/
.side-menu{
	position: static;
	display: block;
	height: 100vh;
	width: 576px; /*1920px環境の30％保持*/
	border-left: 1px solid #000;
	box-sizing: content-box;
}
.side-menu .navbar{
	padding-left: 1rem;
}
.side-menu .tab_contents{
	background: #e5eafc; /*map_control.css内のpanel_contentクラスと同じ背景色を付与した*/
}

/*印刷設定項目*/
.print_setting_row{
	margin: .1em;
	padding-top: 5px;
	padding-bottom: 5px;
	display: block;
}

.print_setting_row label{
	display: block;
	margin: 0 10px 0 10px;
	padding: 5px;
	display: flex;
	min-height: 38px;
	box-sizing: border-box;
}
.print_setting_row label span{
	margin-top: 5px;
}
.print_setting_row label .print_setting_label{
	width: calc( 12em + 32px );
}
.print_setting_row label span select{
	margin-top: -5px;
}
.print_setting_row label span input[type=checkbox]{
	margin-top: 0px;
	margin-right: 6px;
	vertical-align: middle;
}
.button_area{
	display: flex;
	justify-content: center;
	margin-top: 3em;
}
.button_area .btn{
	width: 8em;
	margin: 0 2em;
}

#image_area{
	position: absolute;
	top: 0;
}

@media print{

	.base{ display: block; width: auto; height: auto;}
	.main-menu{ width: auto; height: auto; background-color: transparent; }
	#map{ padding: 0;}
	#map.mapboxgl-map-yoko{width: auto; height: auto;}
	#map.mapboxgl-map-tate{width: auto; height: auto;}

	.side-menu{ display: none;}

	#map.mapboxgl-map-tate .mapboxgl-ctrl-top-left{ display: none;}
}